@import "tailwindcss";


@theme {
  --animate-fade-in-scale: fade-in-scale 0.3s ease-out;
  @keyframes fade-in-scale {
    0% {
      opacity: 0;
      transform: scale(0.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  --animate-glassy: glassy 2s ease-in-out infinite;

  @keyframes glassy {
    0% {
      backdrop-filter: blur(6px);
      background-color: rgba(54, 24, 80, 0.2); /* deeper but slightly more visible */
    }
    50% {
      backdrop-filter: blur(10px);
      background-color: rgba(185, 156, 255, 0.4); /* brighter tint */
    }
    100% {
      backdrop-filter: blur(6px);
      background-color: rgba(54, 24, 80, 0.2);
    }
  }
  

  --animate-float-in: float-in 1s ease-in-out;

  @keyframes float-in {
    0% {
      opacity: 0;
      transform: translateY(40px) scale(0.95);
    }
    60% {
      opacity: 1;
      transform: translateY(-5px) scale(1.02);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  --animate-pattern-move: pattern-move 2s ease-in-out infinite;

  @keyframes pattern-move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 20px 20px;
    }
  }
}

.glare-effect::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.3) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  transform: rotate(0deg) translateX(-100%);
  animation: glare 5s infinite;
  pointer-events: none;
}

@keyframes glare {
  0% {
    transform: rotate(25deg) translateX(-150%);
  }
  100% {
    transform: rotate(25deg) translateX(150%);
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-ibm-plex-sans);
  --font-mono: var(--font-ibm-plex-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-ibm-plex-sans);
}